main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;

    margin-top: 100px;
    margin-bottom: 100px;

    font-family: Arial, Helvetica, sans-serif;
}


.card{
    width: 306px;
    height: 186px;

    cursor: pointer;

    padding: 10px;

    overflow: hidden;

    display: flex;
    flex-direction: column;

    gap: 15px;
    text-align: center;

    justify-items: center;
    align-items: center;

    background-color: white;
    border-radius: 4px;
    border: #DEE2E6 solid 1px;

    filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.16));

    scale: 1;

    transition: scale 0.1s ease-out, opacity 0.2s ease-out;
}

.card h3, .card p{
    cursor: text;
}

.main:has(.card:hover) .card{
    opacity: 0.4;
    scale: 0.99;
}
.main:has(.card:hover) .card:hover{
    opacity: 1;    
    scale: 1.1;
}

.card h1{
    padding: 5px;
}

.card h3{
    text-decoration: underline;
}
